{
    Version = "2012-10-17"
    Statement = [
      {
        Action = "sts:AssumeRoleWithWebIdentity"
        Effect = "Allow"
        Condition = {
            StringEquals = {
                "rh-oidc.s3.us-east-1.amazonaws.com/${cluster_id}:sub" = ["${sub_string}"]
            }
        }
        Principal = {
          Federated = "arn:aws:iam::${account_id}:oidc-provider/rh-oidc.s3.us-east-1.amazonaws.com/${cluster_id}"
        }
      },
    ]
}